name: Latest tg post workflow
on:
#   schedule:
    # Runs every hour
#     - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  update-readme-with-tg:
    name: Update this repo's README with latest tg posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
#           feed_list: "http://node2.feed43.com/0666623766354583.xml"
          max_post_count: 20
